@charset "UTF-8";
@font-face {
  font-family: "M+ 1m";
  src: local("M+ 1m");
}

@font-face {
  font-family: "Rounded M+ 1m regular";
  src: local("Rounded M+ 1m regular");
}

@font-face {
  font-family: "Rounded M+ 2m regular";
  src: local("Rounded M+ 2m regular");
}

/*@import "setting/**";
@import "function/**";*/
/*!
 * ress.css • v2.0.4
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not([fill]) {
  fill: currentColor;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

:root {
  font-size: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  max-width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  margin: auto;
}

.is-open {
  position: fixed;
  /*JSでsidebar開いたときに背景を固定させる*/
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed !important;
  }
}

.l-header {
  overflow: hidden;
  /*height: 217px;*/
  background-color: #fff7ef;
  color: #707070;
  opacity: 1.0;
  font-family: "Roboto";
  vertical-align: bottom;
}

@media (min-width: 769px) {
  .l-header {
    width: 80.8%;
    float: left;
  }
}

.l-main {
  overflow: hidden;
  opacity: 1;
}

@media (min-width: 769px) {
  .l-main {
    width: 80.7%;
    float: left;
  }
}

.l-footer {
  overflow: hidden;
  color: #fff;
  max-width: 100%;
  height: 150px;
  background-image: url(./../images/footer_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
}

@media (min-width: 769px) {
  .l-footer {
    width: 100%;
    float: left;
    z-index: 1000;
    position: relative;
  }
}

/*以下sidebarのproject*/
.p-sidebar__wrapper {
  color: #707070;
  background-color: #fff7ef;
  width: 32.8rem;
  position: absolute;
  z-index: 200;
  right: -35rem;
  padding-bottom: 5000px;
  margin-bottom: -5000px;
  top: 0;
}

@media (min-width: 769px) {
  .p-sidebar__wrapper {
    width: 19.3%;
    float: right;
    right: 0rem;
    position: absolute;
    display: block;
  }
}

/*JSでsidebar開いた状態を作る*/
.p-sidebar__wrapper.is-open {
  overflow: scroll;
  /*JSでsidebar開いたときにsidebarだけスクロールさせる*/
  height: 100vh;
  /*overflowを機能させるためにブラウザの高さいっぱいを指定*/
  -webkit-overflow-scrolling: touch;
  /*慣性スクロールが効くのでスムーズとなる？*/
  right: 0rem;
  position: absolute;
  /*JSでsidebar開いた状態をレスポンシブ対応*/
}

@media (min-width: 641px) {
  .p-sidebar__wrapper.is-open {
    width: 50%;
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  .p-sidebar__wrapper.is-open {
    display: block;
  }
}

/*以下headerのproject*/
.p-search__form {
  line-height: 4.6rem;
  margin-top: 3.8rem;
  text-align: center;
  margin-bottom: 4rem;
}

@media (min-width: 769px) {
  .p-search__form {
    float: right;
    /*display: inline-block;*/
    margin-top: 8.6rem;
    margin-right: 3rem;
  }
}

/*以下front-page mainのproject*/
.p-page__hero {
  background-image: url(./../images/top_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 100%;
  height: auto;
  position: relative;
  display: block;
}

@media (min-width: 641px) {
  .p-page__hero {
    background-image: url(./../images/top_tablet_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  .p-page__hero {
    background-image: url(./../images/top_pc_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.p-main__container a {
  font-size: 4.1rem;
  font-family: Roboto;
  padding: 1.3rem 0 0 1.2rem;
  position: relative;
  text-decoration: none;
}

.p-main__container:link {
  color: #fff;
}

.p-main__container:visited {
  color: #fff;
}

.p-main__container:hover {
  color: blue;
}

.p-main__container:active {
  color: blue;
}

.p-main__container a::after {
  content: "";
  position: absolute;
  left: 1.2rem;
  bottom: -1.13rem;
  /*線の上下位置*/
  width: 3.39rem;
  /*線の長さ*/
  height: 0.5rem;
  /*線の太さ*/
  background-color: #fff;
  /*線の色*/
}

.p-main__container h3 {
  font-size: 2.2rem;
  font-family: "M+ 1m";
  padding: 1.9rem 0 2.1rem 1rem;
}

.p-main__container p {
  font-size: 1.6rem;
  line-height: 3.69rem;
  padding: 0 1.4rem 2rem 1rem;
}

@media (min-width: 641px) {
  .p-main__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-takeOut__container {
  background-image: url(./../images/takeout_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 2rem;
  width: 89.5%;
  height: 64.2rem;
  /*レスポンシブ　tablet PC*/
}

@media (min-width: 641px) {
  .p-takeOut__container {
    margin-left: 4rem;
    margin-right: 2rem;
  }
}

.p-eatIn__container {
  background-image: url(./../images/eatin_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 2rem;
  width: 89.5%;
  height: 64.2rem;
  /*レスポンシブ　tablet PC*/
}

@media (min-width: 641px) {
  .p-eatIn__container {
    margin-left: 2rem;
    margin-right: 4rem;
  }
}

.p-map__container {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(./../images/map_bg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../images/map_bg.jpg);
  /*map画像にカラーフィルター黒*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 100%;
  height: 69.1rem;
  margin-top: 4.9rem;
  background-color: #000000;
  opacity: 0.6;
  /*レスポンシブ　tablet*/
}

@media (min-width: 641px) {
  .p-map__container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(./../images/map_tablet_bg.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../images/map_tablet_bg.jpg);
    /*map画像にカラーフィルター黒*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /*レスポンシブ　PC*/
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  .p-map__container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(./../images/map_pc_bg.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../images/map_pc_bg.jpg);
    /*map画像にカラーフィルター黒*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

/*以下archive mainのproject*/
.p-archive__hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(./../images/archive_top_bg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../images/archive_top_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
  position: relative;
}

.p-archive__main {
  background-color: #fffdfa;
  padding-top: 11.5rem;
}

.p-archive__container h3 {
  font-size: 2.8rem;
  margin: 3rem 0 3.2rem 2.2rem;
}

.p-archive__container p {
  font-size: 1.6rem;
  line-height: 3.7rem;
  margin-left: 2.2rem;
  margin-right: 1.8rem;
  height: 27.6rem;
  width: 89.3%;
}

@media (min-width: 641px) {
  .p-archive__container p {
    height: 14.3rem;
  }
}

.p-card__contents {
  background-color: #3c2b1c;
  color: #fff;
  height: 35.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1.7rem;
  text-align: initial;
}

@media (min-width: 641px) {
  .p-card__contents {
    float: right;
    width: 50%;
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  .p-card__contents {
    height: 47.1rem;
  }
}

/*archiveのページフィード部分*/
.p-pagenation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  font-size: 1.6rem;
  color: #707070;
  padding-bottom: 3rem;
  padding-top: 6.1rem;
}

@media (min-width: 641px) {
  .p-pagenation {
    width: 70rem;
    padding-top: 10.5rem;
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  .p-pagenation {
    padding-top: 15rem;
    padding-bottom: 6.4rem;
  }
}

/*以下single mainのproject*/
.p-single__hero {
  /*background-image: url(./../images/single_top_bg.jpg);アイキャッチ画像読み込みのため削除*/
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 22.5rem;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 641px) {
  .p-single__hero {
    height: 50rem;
  }
}

.p-single-page__mainbg {
  background-color: #fffdfa;
}

.p-single-page__main {
  background-color: #fffdfa;
  padding-top: 3rem;
  width: 89.3%;
}

@media (min-width: 641px) {
  .p-single-page__main {
    width: 85.6%;
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  .p-single-page__main {
    width: 87.1%;
  }
}

.p-single-page__topics h2 {
  margin-bottom: 3.2rem;
  font-size: 3.6rem;
}

.p-single-page__topics p {
  height: 18.3rem;
  font-size: 1.6rem;
  margin-bottom: 3.4rem;
}

.p-single-page__topics h3,
.p-single-page__topics h4,
.p-single-page__topics h5,
.p-single-page__topics h6 {
  margin-bottom: 6rem;
  font-size: 2rem;
}

.p-single-page__article {
  font-size: 1.6rem;
  color: #3c2a10;
}

/*以下page mainのproject*/
.p-page-hero {
  background-image: url(./../images/page_hero_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 22.5rem;
  position: relative;
}

@media (min-width: 641px) {
  .p-page-hero {
    height: 50rem;
  }
}

/*以下footerのproject*/
.p-footer_container {
  font-size: 2rem;
  padding-top: 3.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.p-footer_container a {
  text-decoration: none;
}

.p-footer_container a:link {
  color: #fff;
}

.p-footer_container a:visited {
  color: #fff;
}

.p-footer_container a:hover {
  color: blue;
}

.p-footer_container a:active {
  color: blue;
}

.p-copyright {
  margin: 0 auto;
  font-size: 1.4rem;
  text-align: center;
  padding-top: 3.5rem;
}

/*以下sidebarのcomponent*/
.c-sidebar__title {
  display: none;
}

@media (min-width: 769px) {
  .c-sidebar__title {
    display: block;
    font-family: Roboto;
    font-size: 3.4rem;
    position: relative;
    top: 8.2rem;
    left: 4.6rem;
  }
}

/*JSでsidebar開いた状態*/
.c-sidebar__title.is-open {
  display: none;
}

.c-menu__cancel__btn {
  float: left;
  position: relative;
  top: 2.5rem;
  left: 27.9rem;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
}

@media (min-width: 769px) {
  .c-menu__cancel__btn {
    display: none;
  }
}

/*JSでsidebar開いた状態でキャンセルボタン常時表示*/
.c-menu__cancel__btn.is-open {
  display: block;
}

.c-menu__list {
  padding-top: 21.2rem;
}

.c-menu__list h2 {
  font-family: Roboto;
  font-size: 3.4rem;
  position: relative;
  left: 4.6rem;
  margin-top: 8.2rem;
  margin-bottom: 8.5rem;
}

.c-menu__list h3 {
  font-family: "mplus-1m-bold";
  font-size: 2.4rem;
  margin-bottom: 4.2rem;
  position: relative;
  left: 4.6rem;
}

@media (min-width: 769px) {
  .c-menu__list h3 {
    font-size: 1.8vw;
  }
}

.c-menu__list ul {
  list-style: none;
}

.c-menu__list li {
  font-family: "M+ 1m";
  font-size: 2rem;
  line-height: 4.7rem;
  position: relative;
  left: 6.6rem;
}

@media (min-width: 769px) {
  .c-menu__list li {
    font-size: 1.2vw;
  }
}

.c-menu__list a {
  text-decoration: none;
}

.c-menu__list a:link {
  color: #707070;
}

.c-menu__list a:visited {
  color: #707070;
}

.c-menu__list a:hover {
  color: blue;
}

.c-menu__list a:active {
  color: blue;
}

.c-burger__menu,
.c-side__menu,
.c-drink__menu {
  margin-bottom: 4rem;
}

/*以下headerのcomponent*/
.c-header__menu {
  float: right;
  font-size: 2rem;
  margin: 1.4rem 1.6rem 0 0;
  z-index: 500;
  cursor: pointer;
}

@media (min-width: 769px) {
  .c-header__menu {
    display: none;
  }
}

.c-site__title {
  font-size: 4rem;
  text-align: center;
  padding-top: 4rem;
}

@media (min-width: 769px) {
  .c-site__title {
    margin-top: 5rem;
    margin-left: 6.5rem;
    display: inline-block;
  }
}

.c-site__title a {
  text-decoration: none;
}

.c-site__title a:link {
  color: #707070;
}

.c-site__title a:visited {
  color: #707070;
}

.c-site__title a:hover {
  color: blue;
}

.c-site__title a:active {
  color: blue;
}

.c-search__text {
  -webkit-appearance: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Fontawesome;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  text-decoration: inherit;
  padding: 1.1rem 1.6rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #707070;
  background-color: #fff;
  height: 4.6rem;
  width: 61.3%;
}

@media (min-width: 641px) {
  .c-search__text {
    width: 47.5%;
  }
}

@media (min-width: 769px) {
  .c-search__text {
    width: 25.4vw;
  }
}

.c-search__submit {
  -webkit-appearance: none;
  display: inline-block;
  border-radius: 0.8rem;
  margin-left: 1.2rem;
  height: 4.6rem;
  padding: 0 3.2rem;
  font-size: 1.6rem;
  color: #707070;
  border: 0.1rem solid #707070;
  background-color: #f2ede9;
  vertical-align: top;
  display: inline-block;
}

@media (min-width: 641px) {
  .c-search__submit {
    padding: 0 5.4rem;
  }
}

/*以下front-page mainのcomponent*/
.c-main__title {
  color: #fff;
  font-size: 3.6rem;
  font-family: "M+ 1m";
  padding: 11.9rem 0px 11.8rem 2.5rem;
}

.c-content1 {
  margin: 22rem auto 1rem auto;
}

.c-content2 {
  margin: 0 auto 1rem auto;
}

.c-content1,
.c-content2 {
  width: 94%;
  height: 16.3rem;
  background-color: #fff;
  opacity: 0.8;
  color: #3c2a10;
  line-height: 3.7rem;
}

.c-map__comment {
  background-color: #000000;
  opacity: 0.8;
  color: #fff;
  width: 100%;
  height: 50%;
  /*レスポンシブ　tablet*/
}

@media (min-width: 641px) {
  .c-map__comment {
    width: 100%;
    height: 100%;
    /*レスポンシブ　PC*/
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  .c-map__comment {
    width: 50%;
    height: 100%;
    float: left;
  }
}

.c-map__comment h2 {
  font-size: 3rem;
  height: 12rem;
  padding: 4rem 0 2rem 4rem;
  position: relative;
}

.c-map__comment h2::after {
  content: "";
  position: absolute;
  top: 10rem;
  left: 4rem;
  bottom: -2.2rem;
  /*線の上下位置*/
  width: 7.5rem;
  /*線の長さ*/
  height: 0.32rem;
  /*線の太さ*/
  background-color: #fff;
  /*線の色*/
}

.c-map__comment p {
  font-size: 1.4rem;
  height: 29.5rem;
  padding: 0 4rem 5.1rem 4rem;
  line-height: 4.7rem;
}

/*以下archive mainのcomponent*/
.c-archive__main__title {
  color: #fff;
  font-size: 3.6rem;
  font-family: "M+ 1m";
  padding: 11.9rem 0 11.5rem 3.7rem;
}

.c-archive__main__menu {
  color: #fff;
  font-size: 1.6rem;
  font-family: "M+ 1m";
  padding-left: 2rem;
  vertical-align: middle;
}

.c-card__container {
  text-align: center;
  width: 89.5%;
  height: 58.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 641px) {
  .c-card__container {
    height: 35.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  .c-card__container {
    height: 47.1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.c-card__imgframe {
  height: 23rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  /*図の下の空白を消す*/
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 641px) {
  .c-card__imgframe {
    float: left;
    width: 50%;
    height: 35.5rem;
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  .c-card__imgframe {
    height: 47.1rem;
  }
}

.c-card__title {
  padding-top: 3.05rem;
  padding-bottom: 2.5rem;
  font-size: 2rem;
}

.c-card__txt {
  font-size: 1.6rem;
}

.c-card__txt h3 {
  padding-bottom: 1.1rem;
}

.c-card__txt p {
  padding-right: 7.3rem;
  height: 11.4rem;
  line-height: 3.7rem;
  text-align: left;
}

@media (min-width: 641px) {
  .c-card__txt p {
    padding-right: 5.9rem;
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  .c-card__txt p {
    padding-right: 10.4rem;
  }
}

.c-card__btn {
  -webkit-appearance: none;
  border-radius: 5rem;
  width: 16.3rem;
  height: 4.2rem;
  padding: 1rem 4.1rem 1rem 4.1rem;
  font-size: 1.6rem;
  color: #707070;
  border: 0.1rem solid #707070;
  background-color: #ffffff;
  display: block;
  text-align: center;
  margin-top: 4rem;
}

.c-page__view {
  display: none;
}

@media (min-width: 641px) {
  .c-page__view {
    display: block;
    margin-right: 1.9rem;
  }
}

@media (min-width: 641px) {
  .c-page__logo {
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

p.c-page__word__pre,
p.c-page__word__nex {
  position: absolute;
  float: left;
  bottom: 19rem;
}

@media (min-width: 641px) {
  p.c-page__word__pre,
  p.c-page__word__nex {
    display: none;
  }
}

p.c-page__word__pre {
  left: 30%;
}

p.c-page__word__nex {
  right: 30%;
}

.c-page__container {
  display: none;
}

@media (min-width: 641px) {
  .c-page__container {
    display: block;
  }
}

.c-page_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  text-decoration: none;
  border: solid #707070 0.1rem;
  color: #707070;
  padding: 0.7rem 1.3rem 0.7rem 1.3rem;
  float: left;
  margin: 0.75rem;
}

/*以下single mainのcomponent*/
.c-single__main__title {
  color: #fff;
  font-size: 3.6rem;
  font-family: "M+ 1m";
  padding: 9.1rem 0 9.1rem 2.6rem;
  position: absolute;
  z-index: 1;
}

@media (min-width: 641px) {
  .c-single__main__title {
    padding-top: 20.8rem;
  }
}

.c-single-page__blockquote {
  background-color: #f5f5f5;
  height: 61.7rem;
  font-family: "M+ 1m";
  margin-bottom: 3rem;
}

.c-single-page__blockquote .c-single-page__blockquote__txt {
  width: 85.6%;
  padding-top: 3rem;
}

.c-single-page__blockquote .c-single-page__blockquote__txt .c-quote__txt1 {
  height: 50.5rem;
  margin-bottom: 3rem;
}

.c-single-page__wide__imgframe {
  background-image: url(./../images/single_img_wide.jpg);
  height: 12.4rem;
  width: 100%;
  margin-bottom: 3rem;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  /*図の下の空白を消す*/
}

@media (min-width: 641px) {
  .c-single-page__wide__imgframe {
    height: 26.4rem;
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  .c-single-page__wide__imgframe {
    height: 50rem;
  }
}

.c-single-page__card__container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 3rem;
  width: 100%;
}

.c-single-page__card__container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 3rem;
  width: 100%;
}

.c-single-page__card__txt {
  width: 54.3%;
  margin-top: 0;
}

.c-single-page__card__img {
  width: 42.7%;
  height: 8.9rem;
  margin-top: 0rem;
  background-image: url(./../images/single_img.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 641px) {
  .c-single-page__card__img {
    height: 18.9rem;
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  .c-single-page__card__img {
    height: 35.8rem;
  }
}

.c-single-page__middle__imgframe {
  background-image: url(./../images/single_img.jpg);
  height: 16.6rem;
  width: 79.7%;
  margin-bottom: 3rem;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  /*図の下の空白を消す*/
}

@media (min-width: 641px) {
  .c-single-page__middle__imgframe {
    width: 81.3%;
    height: 35.8rem;
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  .c-single-page__middle__imgframe {
    width: 58.1rem;
    height: 35.8rem;
  }
}

.c-single-page__grid {
  display: -ms-grid;
  display: grid;
  gap: 3rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 641px) {
  .c-single-page__grid {
    display: -ms-grid;
    display: grid;
    gap: 1.6rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  .c-single-page__grid {
    gap: 2rem;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.c-single-page__grid .c-single-page__big__imgframe {
  background-image: url(./../images/single_img.jpg);
  height: 20.5rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  /*図の下の空白を消す*/
}

@media (min-width: 641px) {
  .c-single-page__grid .c-single-page__big__imgframe {
    height: 20.5rem;
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  .c-single-page__grid .c-single-page__big__imgframe {
    height: 25.7rem;
  }
}

.c-single-page__list1 {
  margin: 3rem 0 6rem 2rem;
}

@media (min-width: 641px) {
  .c-single-page__list1 {
    margin-top: 6rem;
  }
}

.c-single-page__list2 {
  margin: 3rem 0 6rem auto;
}

.c-single-page__list2 .c-list__item {
  list-style-type: none;
}

.c-list__item {
  margin-bottom: 3rem;
}

.c-list_middle {
  margin-left: 3.8rem;
}

.c-single-page__html__container {
  background-color: #f5f5f5;
  width: 100%;
  height: 23.7rem;
  padding-top: 5rem;
  padding-left: 5rem;
  margin-bottom: 3rem;
}

.c-single-page__table,
.c-td1,
.c-td2 {
  background-color: #ffffff;
  border: solid 0.1rem #707070;
  border-collapse: collapse;
  margin-bottom: 3rem;
  padding-left: 3rem;
  height: 7.7rem;
  width: 100%;
}

.c-td1 {
  width: 40%;
}

.c-td2 {
  width: 60%;
}

.c-single-page__btn {
  text-align: center;
  padding: 2.8rem auto 3.2rem auto;
  border: solid 0.1rem #707070;
  background-color: #f2ede9;
  border-radius: 2rem;
  width: 33.5rem;
  height: 8.1rem;
  margin-bottom: 3rem;
}

@media (min-width: 641px) {
  .c-single-page__btn {
    width: 42.9rem;
  }
}

.c-under__btn__txt {
  padding-bottom: 7.1rem;
}

/*全画面右余白削除,sidebar高さをfooterまで埋める調整用*/
.u-body__wrrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

/*jQueryサイドバー表示の黒透過*/
.u-open__menu__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}
/*# sourceMappingURL=style.css.map */