/*以下sidebarのcomponent*/
.c-sidebar__title {
    display: none;
    @include breakpoint(pc) {
        display: block;
        font-family: Roboto;
        font-size: 3.4rem;
        position: relative;
        top: 8.2rem;
        left:4.6rem;
    }
}
/*JSでsidebar開いた状態*/
.c-sidebar__title.is-open {
    display: none;
}


.c-menu__cancel__btn {
    float: left;
    position: relative;
    top: 2.5rem;
    left: 27.9rem;
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
    @include breakpoint(pc) {
        display: none;
    }
}
/*JSでsidebar開いた状態でキャンセルボタン常時表示*/
.c-menu__cancel__btn.is-open {
    display: block;
}

.c-menu__list {
    padding-top: 21.2rem;

    h2 {
        font-family: Roboto;
        font-size: 3.4rem;
        position: relative;
        left: 4.6rem;
        margin-top: 8.2rem;
        margin-bottom: 8.5rem;
    }

    li {
        list-style: none;
    }

    .menu {
        text-decoration: none;
        font-family: "mplus-1m-bold";
        font-size: 2.4rem;
        position: relative;
        left: 4.6rem;
        @include breakpoint(pc) {
            font-size: 1.8vw;
        }
    }

    .sub-menu {
        list-style: none; 
        font-family: "M+ 1m";
        font-size: 2rem;
        line-height: 4.7rem;
        position: relative;
        left: 5rem;
        margin: 4rem 0 4rem 0;
        @include breakpoint(pc) {
            font-size: 1.2vw;
        }
    }
    
    a {
        text-decoration: none;
    &:link {
        color:#707070;
    }
    &:visited {
        color:#707070;
    }
    &:hover {
        color:blue;
    }
    &:active {
        color:blue;
    }
}
}

.c-burger__menu,
.c-side__menu,
.c-drink__menu {
    margin-bottom: 4rem;
}

/*以下headerのcomponent*/
.c-header__menu {
    float: right;
    font-size: 2rem;
    margin: 1.4rem 1.6rem 0 0;
    z-index: 500;
    cursor: pointer;
    @include breakpoint(pc) {
        display: none;
    }
}

.c-site__title {
    font-size: 4rem;
    text-align: center;
    padding-top: 4rem;
    
    @include breakpoint(pc) {
        margin-top: 5rem;
        margin-left: 6.5rem;
        display: inline-block;
    }
    a {
        text-decoration: none;
    &:link {
        color:#707070;
    }
    &:visited {
        color:#707070;
    }
    &:hover {
        color:blue;
    }
    &:active {
        color:blue;
    }
    }
}

.c-search__text {
    -webkit-appearance: none;
    display: inline-block;
    box-sizing: border-box;
    font-family: Fontawesome;
    font-style: normal;
    font-weight: normal;
    font-size: 2.4rem;
    text-decoration: inherit;
    padding: 1.1rem 1.6rem;
    border-radius: 0.8rem;
    border: 0.1rem solid #707070;
    background-color: #fff;
    height: 4.6rem;
    width: 61.3%;
    @include breakpoint(tablet) {
        width: 47.5%;
    }
    @include breakpoint(pc) {
        width: 25.4vw;
    }
}

.c-search__submit {
    -webkit-appearance: none;
    display: inline-block;
    border-radius: 0.8rem;
    margin-left: 1.2rem;
    height: 4.6rem;
    padding: 0 3.2rem;
    font-size: 1.6rem;
    color: #707070;
    border: 0.1rem solid #707070;
    background-color: #f2ede9;
    vertical-align: top;
    display: inline-block;
    @include breakpoint(tablet) {
        padding: 0 5.4rem;
    }
}

/*以下front-page mainのcomponent*/
.c-main__title {
    color: #fff;
    font-size: 3.6rem;
    font-family: "M+ 1m";
    padding: 11.9rem 0px 11.8rem 2.5rem;
}


.c-content1 {
    margin: 22rem auto 1rem auto;
}

.c-content2 {
    margin: 0 auto 1rem auto;
}

.c-content1,
.c-content2 {
    width: 94%;
    height: 16.3rem;
    background-color: #fff;
    opacity: 0.8;
    color: #3c2a10;
    line-height: 3.7rem;
}

.c-map__comment {
    background-color: #000000;
    opacity: 0.8;
    color: #fff;
    width: 100%;
    height: 50%;
    /*レスポンシブ　tablet*/
    @include breakpoint(tablet) {
        width: 100%;
        height: 100%;
        /*レスポンシブ　PC*/
        @include breakpoint(pc) {
            width: 50%;
            height: 100%;
            float: left;
        }
    }
    h2 {
        font-size: 3rem;
        height: 12rem;
        padding: 4rem 0 2rem 4rem;
        position: relative;
    }
    h2::after {
        content: "";
        position: absolute;
        top: 10rem;
        left: 4rem;
        bottom: -2.2rem; /*線の上下位置*/
        width: 7.5rem; /*線の長さ*/
        height: 0.32rem; /*線の太さ*/
        background-color: #fff; /*線の色*/
    }
    p {
        font-size: 1.4rem;
        height: 29.5rem;
        padding: 0 4rem 5.1rem 4rem;
        line-height: 4.7rem;
    }
}

/*以下archive mainのcomponent*/
.c-archive__main__title {
    color: #fff;
    font-size: 3.6rem;
    font-family: "M+ 1m";
    padding: 11.9rem 0 11.5rem 3.7rem;
}

.c-archive__main__menu {
    color: #fff;
    font-size: 1.6rem;
    font-family: "M+ 1m";
    padding-left: 2rem;
    vertical-align: middle;
}

.c-card__container {
    text-align: center;
    width: 89.5%;
    height: 58.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    @include breakpoint(tablet) {
        height: 35.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        @include breakpoint(pc) {
            height: 47.1rem;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
    }
}

.c-card__imgframe {
    height: 23rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    box-sizing: border-box;
    display: block; /*図の下の空白を消す*/
    object-fit:cover;
    @include breakpoint(tablet) {
        float: left;
        width: 50%;
        height: 35.5rem;
        @include breakpoint(pc) {
            height: 47.1rem;
        }
    }
}

.c-card__title {
    padding-top: 3.05rem;
    padding-bottom: 2.5rem;
    font-size: 2rem;
}

.c-card__txt {
    font-size: 1.6rem;
    h3 {
        padding-bottom: 1.1rem;
    }
    p {
        padding-right: 7.3rem;
        height: 11.4rem;
        line-height: 3.7rem;
        text-align: left;
        @include breakpoint(tablet) {
            padding-right: 5.9rem;
            @include breakpoint(pc) {
                padding-right: 10.4rem;
            }
        }
    }
}

.c-card__btn {
    -webkit-appearance: none;
    border-radius: 5rem;
    width: 16.3rem;
    height: 4.2rem;
    padding: 1rem 4.1rem 1rem 4.1rem;
    font-size: 1.6rem;
    color: #707070;
    border: 0.1rem solid #707070;
    background-color: #ffffff;
    display: block;
    text-align: center;
    margin-top: 4rem;
}

.c-page__view {
    display: none;
    @include breakpoint(tablet) {
        display: block;
        margin-right: 1.9rem;
    }
}

.c-page__logo {
    @include breakpoint(tablet) {
        margin-right: 0rem;
        margin-left: 0rem;
    }
}


p.c-page__word__pre,
p.c-page__word__nex{
    position: absolute;
    float: left;
    bottom: 19rem;
    @include breakpoint(tablet) {
        display: none;
    }
}

p.c-page__word__pre {
    left: 30%;
    
}
p.c-page__word__nex {
    right: 30%;
}


.c-page__container {
    display: none;
    @include breakpoint(tablet) {
        display: block;
    }
}

.c-page_number {
    display: flex;
    background-color: #fff;
    text-decoration: none;
    border: solid #707070 0.1rem;
    color: #707070;
    padding: 0.7rem 1.3rem 0.7rem 1.3rem;
    float: left;
    margin: 0.75rem;
}

/*以下single mainのcomponent*/
.c-single__main__title {
    color:#fff;
    font-size: 3.6rem;
    font-family: "M+ 1m";
    padding: 9.1rem 0 9.1rem 2.6rem;
    position: absolute;
    z-index: 1;
    @include breakpoint(tablet) {
        padding-top: 20.8rem;
    }
}

.wp-block-quote/*.c-single-page__blockquote*/ {
    background-color: #f5f5f5;
    height: 61.7rem;
    font-family: "M+ 1m";
    margin-bottom: 3rem;
    p/*.c-single-page__blockquote__txt*/ {
        width: 85.6%;
        padding-top: 3rem;
        cite/*.c-quote__txt1*/ {
            height: 50.5rem;
            margin-bottom: 3rem;
        }
    }
}

.wp-block-image/*.c-single-page__wide__imgframe*/ {
    
    width: 100%;
    margin-bottom: 3rem;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    box-sizing: border-box;
    display: block; /*図の下の空白を消す*/
    @include breakpoint(tablet) {
        height: 26.4rem;
        @include breakpoint(pc) {
            height: 50rem;
        }
    }
}

.wp-block-media-text__media/*.c-single-page__card__container1*/ {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    width: 100%;
}

.wp-block-media-text__media__content/*.c-single-page__card__txtをWPクラスに変更*/ {
    width: 54.3%;
    margin-top: 0;
}

.c-single-page__card__img {
    width: 42.7%;
    height: 8.9rem;
    margin-top: 0rem;
    /*background-image: url(./../images/single_img.jpg);*/
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    box-sizing: border-box;
    @include breakpoint(tablet) {
        height: 18.9rem;
        @include breakpoint(pc) {
            height: 35.8rem;
        }
    }
}

.c-single-page__middle__imgframe {
    /*background-image: url(./../images/single_img.jpg);*/
    height: 16.6rem;
    width: 79.7%;
    margin-bottom: 3rem;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    box-sizing: border-box;
    display: block; /*図の下の空白を消す*/
    @include breakpoint(tablet) {
        width: 81.3%;
        height: 35.8rem;
        @include breakpoint(pc) {
            width: 58.1rem;
            height: 35.8rem;
        }
    }
}
.wp-gallery-grid/*.c-single-page__gridからWPクラスに変更*/ {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;
    @include breakpoint(tablet) {
        display: grid;
        gap: 1.6rem;
        grid-template-columns: 1fr;
        @include breakpoint(pc) {
            gap: 2rem;
            grid-template-columns: 1fr 1fr 1fr;
    }
}
.wp-block-image.size-large/*.c-single-page__big__imgframe*/ {
    /*background-image: url(./../images/single_img.jpg);*/
    height: 20.5rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    box-sizing: border-box;
    display: block; /*図の下の空白を消す*/
    @include breakpoint(tablet) {
        height: 20.5rem;
        @include breakpoint(pc) {
            height: 25.7rem;
        }
    }
}
}

.c-single-page__list1 {
    margin: 3rem 0 6rem 2rem;
    @include breakpoint(tablet) {
        margin-top: 6rem;
    }
}

.c-single-page__list2 {
    margin: 3rem 0 6rem auto;
    .c-list__item {
        list-style-type: none;
    }
}

.c-list__item {
    margin-bottom: 3rem;
}

.c-list_middle {
    margin-left: 3.8rem;
}

.c-single-page__html__container {
    background-color: #f5f5f5;
    width: 100%;
    height: 23.7rem;
    padding-top: 5rem;
    padding-left: 5rem;
    margin-bottom: 3rem;
}

.c-single-page__table,
.c-td1,
.c-td2 {
    background-color: #ffffff;
    border: solid 0.1rem #707070;
    border-collapse: collapse;
    margin-bottom: 3rem;
    padding-left: 3rem;
    height: 7.7rem;
    width: 100%;
}

.c-td1 {
    width: 40%;
}

.c-td2 {
    width: 60%;
}

.wp-block-button__link /*.c-single-page__btnからWPクラスに変更*/ {
    text-align: center;
    padding-top: 2.2rem;
    border: solid 0.1rem #707070;
    background-color: #f2ede9;
    border-radius: 2rem;
    width: 33.5rem;
    height: 8.1rem;
    margin-bottom: 3rem;
    color: #3C2A10;
    @include breakpoint(tablet) {
        width: 42.9rem;
    }
}

.c-under__btn__txt {
    padding-bottom: 7.1rem;
}