:root {
    font-size: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    max-width: 100%;
    margin: auto;//footerのショップ情報｜ヒストリー表示を中央揃えにするため削除しないと均等割りとなってしまったgがこれをやるとcardの表示が左寄せになってしまうのでnot除外指定する//
}

html,
body {
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-width: 320px;
    margin: auto;
}
.is-open {
    position: fixed;/*JSでsidebar開いたときに背景を固定させる*/
}

// mixin
@mixin breakpoint($point) {
    @if $point == tablet {
        @media (min-width: 641px) {
            @content;
        }
    }
    @if $point == pc {
        @media (min-width: 769px) {
            @content;
        }
    }
}

  //max-width 600px以下での上部WP管理バー位置ずれ修正用だが機能せず、wp-includeの中のadmin-bar.min.cssで以下のようにposition：absoluteからfixedに書き換え
  @media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed!important;
    }
  }
